
*.beam

playing_numbers/solutioncpp.cpp

*.dump

*.core

*.cored

string-reductions/run.sh

brainf-k-interpreter-fp/input02.txt

brainf-k-interpreter-fp/input03.txt

brainf-k-interpreter-fp/input12.txt

brainf-k-interpreter-fp/input13.txt

brainf-k-interpreter-fp/output02.txt

brainf-k-interpreter-fp/output03.txt

brainf-k-interpreter-fp/output12.txt

brainf-k-interpreter-fp/output13.txt

brainf-k-interpreter-fp/salida

gcd/input2

missing-numbers-fp/input2

common-divisors/input2

mango/output5

mango/input5

mango/input2

subset-sum/improvements

subset-sum/input3

subset-sum/input4

subset-sum/mprovements2

subset-sum/output4.txt

subset-sum/prova

subset-sum/salida

game-of-kyles/input

game-of-kyles/input04.txt

game-of-kyles/output04.txt

game-of-kyles/salida04

game-of-kyles/solution.erl

0run.txt

pentagonal-numbers/input05.txt

password-cracker-fp/input02.txt

password-cracker-fp/output.txt

password-cracker-fp/outputMeu

password-cracker-fp/salida

password-cracker-fp/piece

bangalore-bank/input0*

bangalore-bank/input1*

bangalore-bank/salida

functional-programming-the-sums-of-powers/input5

functional-programming-the-sums-of-powers/input3

functional-programming-the-sums-of-powers/input2

minimum-multiple/*

fp-sum-of-odd-elements/input0

dice-path/output3

dice-path/input3

dice-path/output

dice-path/input_MEU

pascals-triangle/output

expressions/input20.txt

expressions/exp_output

expressions/output

prison-transport/input2

prison-transport/input3

prison-transport/input9

prison-transport/input9_MEU

prison-transport/output2

prison-transport/output3

range-minimum-query/outpu

range-minimum-query/output

range-minimum-query/output_exp

order-exercises/*
matrix-rotation/input01

matrix-rotation/input01Meu

matrix-rotation/input02

matrix-rotation/input02Meu

matrix-rotation/input05

matrix-rotation/input07

matrix-rotation/inputMEU

matrix-rotation/inputMeu2

matrix-rotation/output

matrix-rotation/output01

matrix-rotation/output05

matrix-rotation/solution.erl_LISTS

matrix-rotation/solution.erl_PREVIOUS_SPLITTING

matrix-rotation/solution.erl_QUEUES

super-digit/input06

super-digit/output06

fractal-trees/input0

fractal-trees/input01

fractal-trees/input02

fractal-trees/input03

fractal-trees/input04

fractal-trees/input05

fractal-trees/output

euler001/input0

euler001/output0

euler004/inputMeu

euler007/output

euler008/output

euler008/inputMeu

euler009/inputMeu

euler009/output

euler010/output

euler011/output

convex-hull-fp/sol.o

convex-hull-fp/sol.hs

convex-hull-fp/sol.hi

convex-hull-fp/sol

convex-hull-fp/output2

convex-hull-fp/output02

convex-hull-fp/output

convex-hull-fp/input02

*.txt

euler014/solution.toprecompute.erl

euler014/solution.precomputed.erl

euler014/solution.nodict.erl

euler014/output

euler014/precomputed

euler014/solution.dict.erl

euler019/*
