
*.beam

playing_numbers/solutioncpp.cpp

*.dump

*.core

*.cored

string-reductions/run.sh

brainf-k-interpreter-fp/input02.txt

brainf-k-interpreter-fp/input03.txt

brainf-k-interpreter-fp/input12.txt

brainf-k-interpreter-fp/input13.txt

brainf-k-interpreter-fp/output02.txt

brainf-k-interpreter-fp/output03.txt

brainf-k-interpreter-fp/output12.txt

brainf-k-interpreter-fp/output13.txt

brainf-k-interpreter-fp/salida

gcd/input2

missing-numbers-fp/input2

common-divisors/input2

mango/output5

mango/input5

mango/input2

subset-sum/improvements

subset-sum/input3

subset-sum/input4

subset-sum/mprovements2

subset-sum/output4.txt

subset-sum/prova

subset-sum/salida

game-of-kyles/input

game-of-kyles/input04.txt

game-of-kyles/output04.txt

game-of-kyles/salida04

game-of-kyles/solution.erl

0run.txt

pentagonal-numbers/input05.txt

password-cracker-fp/input02.txt

password-cracker-fp/output.txt

password-cracker-fp/outputMeu

password-cracker-fp/salida

password-cracker-fp/piece

bangalore-bank/input0*

bangalore-bank/input1*

bangalore-bank/salida

functional-programming-the-sums-of-powers/input5

functional-programming-the-sums-of-powers/input3

functional-programming-the-sums-of-powers/input2
